---
import "../styles/global.css";
import Navbar from "../components/navbar.jsx";
const currentPath = Astro.url.pathname;
const { title = "Opalize AI" } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <title>{title}</title>
  </head>

  <body class="bg-gradient-to-b from-[#140a1f] via-[#0b0613] to-black text-white font-sans">
    <!-- Global Navbar -->
  <Navbar client:load currentPath={currentPath} />

    <main>
      <slot />
    </main>
  </body>
  
</html>
